.button-form {
  border-radius: 100px;
  padding: 16px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  -webkit-transition: opacity var(--transition);
  transition: opacity var(--transition);
}
.button-form:hover {
  opacity: 0.9;
}
