<section class="get-started">
  <div class="container get-started__container">
    <div class="get-started__form-wrapper">
      <h4 class="get-started__form-title heading-h4">
        Let’s level up your brand
      </h4>
      <p class="get-started__form-descr text-p-medium">
        You can reach us anytime
        <a
          class="get-started__form-link text-p-medium"
          href="mailto:hellosansbrothers@gmail.com"
          >hellosansbrothers@gmail.com</a
        >
      </p>
      <form class="get-started__form">
        <div class="get-started__form-top">
          <label class="get-started__form-label">
            <span class="get-started__form-label-text text-p-small"
              >First name</span
            >
            <input
              type="text"
              name="First name"
              class="get-started__form-input text-p-small"
              placeholder="First name"
            />
          </label>
          <label class="get-started__form-label">
            <span class="get-started__form-label-text text-p-small"
              >Last name</span
            >
            <input
              type="text"
              name="Last name"
              class="get-started__form-input text-p-small"
              placeholder="Last name"
            />
          </label>
        </div>
        <label class="get-started__form-label">
          <span class="get-started__form-label-text text-p-small">Email</span>
          <input
            type="email"
            name="email"
            class="get-started__form-input text-p-small"
            placeholder="you@company.com"
          />
        </label>
        <label class="get-started__form-label">
          <span class="get-started__form-label-text text-p-small"
            >Phone number</span
          >
          <input
            id="phone"
            type="tel"
            name="phone"
            class="get-started__form-input text-p-small"
            placeholder=""
          />
        </label>
        <label class="get-started__form-label">
          <span class="get-started__form-label-text text-p-small">Message</span>
          <textarea 
          type="text"
          name="Message"
          class="get-started__form-input get-started__form-input--textarea text-p-small"
          placeholder="Leave us a message..."></textarea>
        </label>
        <button class="get-started__btn button-form text-p-default" type="submit">Get Started</button>
      </form>
    </div>
    <img
    class="get-started__form-img"
      loading="lazy"
      src="./assets/image/contact-man-woman-img.jpg"
      width="987"
      height="885"
      alt="A woman high-fives a man"
    />
  </div>
</section>
