<section class="partners">
  <div class="container partners__inner">
    <h2 class="partners__title text-p-medium">
      <span class="partners__num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img
          loading="lazy"
          width="97"
          height="30"
          src="./assets/icons/partners/airbnb-logo-icon.svg"
          alt="Airbnb logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          width="97"
          height="30"
          src="./assets/icons/partners/amazon-logo-icon.svg"
          alt="Amazon logo"
        />
      </li>
      <li class="partners__item">
        <img
          width="96"
          height="30"
          loading="lazy"
          src="./assets/icons/partners/fedex-logo-icon.svg"
          alt="FedEx logo"
        />
      </li>
      <li class="partners__item">
        <img
          width="116"
          height="26"
          loading="lazy"
          src="./assets/icons/partners/microsoft-logo-icon.svg"
          alt=""
        />
      </li>
      <li class="partners__item">
        <img
          width="90"
          height="30"
          loading="lazy"
          src="./assets/icons/partners/google-logo-icon.svg"
          alt="Google logo"
        />
      </li>
      <li class="partners__item">
        <img
          width="92"
          height="31"
          loading="lazy"
          src="./assets/icons/partners/ola-logo-icon.svg"
          alt="OLA logo"
        />
      </li>
      <li class="partners__item">
        <img
          width="112"
          height="26"
          loading="lazy"
          src="./assets/icons/partners/walmart-logo-icon.svg"
          alt="Walmart logo"
        />
      </li>
      <li class="partners__item">
        <img
          width="78"
          height="27"
          loading="lazy"
          src="./assets/icons/partners/oyo-logo-icon.svg"
          alt="OYO logo"
        />
      </li>
    </ul>
    <div class="swiper partners__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide partners__slide">
          <img
            loading="lazy"
            width="97"
            height="30"
            src="./assets/icons/partners/airbnb-logo-icon.svg"
            alt="Airbnb logo"
          />
        </div>
        <div class="swiper-slide partners__slide">
          <img
            loading="lazy"
            width="97"
            height="30"
            src="./assets/icons/partners/amazon-logo-icon.svg"
            alt="Amazon logo"
          />
        </div>
        <div class="swiper-slide partners__slide">
          <img
            width="96"
            height="30"
            loading="lazy"
            src="./assets/icons/partners/fedex-logo-icon.svg"
            alt="FedEx logo"
          />
        </div>
        <div class="swiper-slide partners__slide">
          <img
            width="116"
            height="26"
            loading="lazy"
            src="./assets/icons/partners/microsoft-logo-icon.svg"
            alt=""
          />
        </div>
        <div class="swiper-slide partners__slide">
          <img
            width="90"
            height="30"
            loading="lazy"
            src="./assets/icons/partners/google-logo-icon.svg"
            alt="Google logo"
          />
        </div>
        <div class="swiper-slide partners__slide">
          <img
            width="92"
            height="31"
            loading="lazy"
            src="./assets/icons/partners/ola-logo-icon.svg"
            alt="OLA logo"
          />
        </div>
        <div class="swiper-slide partners__slide">
          <img
            width="112"
            height="26"
            loading="lazy"
            src="./assets/icons/partners/walmart-logo-icon.svg"
            alt="Walmart logo"
          />
        </div>
        <div class="swiper-slide partners__slide">
          <img
            width="78"
            height="27"
            loading="lazy"
            src="./assets/icons/partners/oyo-logo-icon.svg"
            alt="OYO logo"
          />
        </div>
      </div>
      <div class="swiper-pagination partners__pagibation"></div>
    </div>
  </div>
</section>
