.strenght {
  &__inner {
    border-bottom: 1px solid #ededed;
    padding-top: 66px;
    padding-bottom: 160px;

    @include mobile {
      padding-top: 36px;
      padding-bottom: 60px;
    }
  }

  &__list {
    @include flex-align-center;

    @include tablet {
      gap: 52px;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    @include mobile {
      gap:32px;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  }

  &__item {
    &:not(:last-child) {
      @include flex-align-center;
      gap: 72px;
      margin-right: 72px;

      @include tablet {
        justify-content: center;
        margin-right: 0;
        min-width: 325px;
      }

      @include mobile {
        min-width: 100px;
      }

      

      &::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 99px;
        background: var(--neutral-color-40);

        @include tablet {
          display: none;
        }
      }
    }

    &-text {
      font-weight: 500;
      line-height: 178%;
      color: var(--neutral-color-150);

      @include mobile {
        max-width: 180px;
      }
    }

    &-num {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 64px;
      line-height: 120%;
      color: var(--neutral-color-100);

      @include small-tablet {
        font-size: 44px;
      }
    }
  }

  &__list,
  &__img {
    margin-bottom: 80px;

    @include mobile {
      margin-bottom: 40px;
    }
  }

  &__info {
    @include flex-justify-between;

    @include tablet {
      gap: 40px;
      flex-direction: column;
    }

    @include mobile {
      gap: 20px;
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.04em;
  }

  &__descr {
    max-width: 421px;
    font-weight: 500;
    line-height: 178%;
    color: var(--neutral-color-150);

    @include tablet {
      max-width: 700px;
    }
  }
}
